body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
}

.hero {
  background-color: #1B7ED2 ;
  text-align: center;
}

 .logo-principal {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
 }

 .slogan {
   text-align: center;

 }

 .slogan p{
   font-size: 2em;
   font-family: 'Redressed', cursive;
 }
.slogan a{
  background-color: #D80000;
  padding: 5px;
  color: #000000;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid #000000

}

.contenu{
 background-image: url(https://cdn.pixabay.com/photo/2019/02/14/07/28/painting-3995999__340.jpg);
 padding-top: 30px;
 padding-bottom: 30px;
}

.contenu div{
  background-color: #AED6F1;
  width: 80%;
  text-align: center;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #000000;
  margin-top: 10px;
  color: #000000;
}

 .newsletter {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   font-family: 'Redressed', cursive;
 }

 nav ul {
   list-style-type: none;
   text-align: center;
 }

  nav li {
    display: inline;
  }

 nav a{
   text-decoration: none;
   font-size: 1.5em;
   font-variant: small-caps;
   color: grey;
   margin-right: 10px;
 }

 nav a:hover {
   color: black;
   text-decoration: underline;
 }

  @media screen and (min-width: 768px){
    .logo-principal{
      width: 30%
    }

    .contenu{
      display: flex;
    }

    .contenu div{
      width: 35%;
      justify-content: space-around;
    }
  }
